[2016-06-25 19:41] aliarsalankazmi opened #1 "Added images; they show as broken links"
Hi Hemang,

Thanks for your Jekyll theme.

I added images to my blog based on your theme.
When I access my repository from GitHub, the image is available and can be seen in the post via repository, but when I load the HTML version of the post from GitHub pages, the image appears as a broken link.

I am pretty sure I need to add something like this to the base structure
`<img src="{{ site.baseurl }

[2016-06-26 07:33] hemangsk commented on #1
Hi Ali!  Thanks for getting in touch. 😃  😃  😄

Images on these links are working fine,
http://aliarsalankazmi.github.io/blog_DA/posts/2016/06/24/vis-bukhari-p1.html
http://aliarsalankazmi.github.io/blog_DA/posts/2014/11/16/tracking-tweets.html

Can you send me the link of the page where they are appearing as broken links so I can figure out what's wrong.

The image tag with site baseurl will go li

[2016-06-26 11:43] aliarsalankazmi commented on #1
Hi Hemang,

Yes, the links you posted are currently showing images, but I have 'hardcoded' the images here using the following:
`<img src="{{ site.baseurl }}/assets/img/hp_narrators.png">`

I think there is a better, generalised way of adding images in, simply using the markdown:
`![Some text](/assets/img/hp_narrators.png)`

But using the above markdown, the image does not render in HTML, although

[2016-06-26 12:15] hemangsk commented on #1
I am really glad you liked it! 😄 😄

Hey can you give this one a try,
In markdown..

[code]

and in config.yml

[code]

[2016-06-26 12:56] aliarsalankazmi commented on #1
That solves it! Thanks :smiley:

[2016-06-26 12:56] #1 closed

[2016-07-07 23:37] sjfox opened #4 "Understanding navigation pane"
Hi there,

I'm very new to setting up websites, but I really like your gravity theme. I'm trying to learn a bit about how everything is put together, and can't for the life of me figure out how the navigation pages are generated. I see how to change the actual name values associated, but I don't understand how they're being generated. I'm mainly curious, as I'd like to learn how to change the orde

[2016-07-08 12:23] hemangsk commented on #4
Hello @sjfox :smile:
Thanks for getting in touch,

Let me give you  a complete overview of things,

**File Structure of Gravity**
![screen shot 2016-07-08 at 5 11 48 pm](https://cloud.githubusercontent.com/assets/13018570/16686377/49a0087a-452f-11e6-840f-4d7adcd1f87b.png)

In the **Includes** folder,
- There is a file called head.html which contains all the stuff that goes into the <head> tag of e

[2016-07-08 20:12] sjfox commented on #4
Wow Hemang! Thank you so much for the thorough response! I definitely understand everything better now, and will start playing around with things to customize the website a bit for myself. I'll let you know if I hit any hiccups now 👍

[2016-07-08 20:12] #4 closed

[2016-07-28 09:13] mo6020 opened #7 "Jekyll SEO plugin"
Hi,

Do you have any plans to integrate the Jekyll SEO plugin? It doesn't appear to work currently?

Cheers
Ed

[2016-07-28 09:14] mo6020 commented on #7
Cancel that, I'm a fool.

[2016-07-28 09:14] #7 closed

[2016-08-27 20:10] BT5U opened #8 "creating posts"
hey i just installed gravity on a brand new server and im not sure how to add posts.

i copied the default.html layout and renamed it test.html. then copied the science.md in the root diretory and renamed it test.md.

[code]
[code]
then i created a new post:
[code]
[code]
<>test</p>

but the post doesnt appear after restarting the jekyll server. any idea what im doing wrong?

[2016-08-27 20:13] BT5U commented on #8
sorry, github totally mangled my message. not sure how to fix it.

[2016-08-27 20:22] hemangsk commented on #8
@BT5U There is no need to rename the default.html and science.md file. In order to add new posts all you got to do this is create a new file inside posts folder.

[2016-08-27 20:29] hemangsk commented on #8
As you can see the directory structure of jekyll,
There's the posts folder, that's where new posts go.

![screen shot 2016-08-28 at 1 56 58 am](https://cloud.githubusercontent.com/assets/13018570/18029896/c1175484-6cc2-11e6-9964-7245b66607a3.png)

Please feel free to discuss any further queries 😃  👍

[2016-08-28 22:44] #8 closed

[2016-08-28 22:48] BT5U opened #9 "dark theme"
can you help me identify which lines in style.css i need to modify to invert the color theme. everything black to white, everything dark grey to light grey, etc. sorry, im a noob, clearly.

thanks!

[2016-08-29 14:23] hemangsk commented on #9
Hi @BT5U
Sure I'm happy to help figuring it out !

Inside the "css" folder, open the file called style.scss and there you'll find,

[code]

You can change the corresponding colours in front of variables $text-color and $background-color to your desired colours.

For eg:-

[code]

Please feel free to ask anything if u get stuck 😄

Happy Coding!

[2016-09-06 11:39] isRaining opened #10 "I don't know how to solve the problem"
Hello,very like your template.
But I want to change the title,I don't know where is the modification,I hope you can help me,Thank you very much!!!
![Uploading 12345678765432.png…](http://img.blog.csdn.net/20160906193747886)

[2016-09-06 12:48] hemangsk commented on #10
@isRaining
In the root directory, you will find the files called about.md, science.md, download.md
Step 1. Rename them to your desired title name.
Step 2. Inside these files there will be a title property inside front matter of these files, change that property to desired title name.
Step 3 Inside these files there will be a permalink property inside front matter of these files, change that proper

[2016-09-06 12:49] hemangsk commented on #9
@BT5U Hope your issue is resolved, closing issue

[2016-09-06 12:49] #9 closed

[2016-09-10 05:07] BagelTheKid opened #11 "Markdown Links aren't working properly"
Hello, first off wonderful theme.
Now, I'm trying to link to a site where I've gotten some inspiration from, using Markdown's link sytnax.
But, the link isn't being parsed or interpreted.
I've attached some screen shots so you can see what I am referencing.

![link](https://cloud.githubusercontent.com/assets/13815614/18408105/63e61c50-76ea-11e6-84e2-581167ca722b.PNG)
![not-implemented-links](https

[2016-09-13 15:15] hemangsk commented on #11
@BagelTheKid Hey I'm really sorry for the late reply, been out of city.  So I guess you solved the issue,  the links are visible are in correct format now on your blog, and btw the posts are wonderful. 👍  👍  👍
 Please feel free to get in touch if you face any kinda prob with the theme ! 😄  😄

Happy Coding!

[2016-09-13 15:16] #11 closed

[2016-09-13 19:27] #10 closed

[2016-10-04 10:45] hemangsk opened #12 "Add general & specific jekyll theme installation instructions in README.md"
This issue is created to get you up and running with Jekyll, the superb static site generator.
Basically you have to,

**Step 1**
- Write step by step manual to install a jekyll theme in general.
  - You can find it easily on the jekyll doc site, just convert it into markdown with proper formatting.
  - There is a new way of installing jekyll theme, which is introduced in Jekyll v3.0, you have to

[2016-10-04 10:57] hemangsk opened #13 "House Cleaning README.md"
Currently the README.md is a bunch of images, remove these 3 images from the README.md
**Image 1**
![alt-tag](https://farm2.staticflickr.com/1674/25549273413_3872aa3b1e_o.png)

**Image 2**
![alt-tag](https://farm2.staticflickr.com/1590/26563924866_ec40fd1ccd_o.png)
**Image 3**
![alt-tag](https://farm2.staticflickr.com/1565/25879042020_03acf3c968_o.png)

And convert the instructions to text (markdo

[2016-10-04 11:09] jaimellamasi commented on #13
I could do that!

[2016-10-04 11:11] jcardoz commented on #13
@hemangsk Let me try this out 👍

[2016-10-04 11:12] hemangsk opened #14 "Create 'CMD + Shift + 4 + Space Bar key' screenshots of Gravity"
The ultimate aim will be to create a _m x n_ size grid of screenshots in README.md to showcase of different pages in Gravity and put them inside a folder called _Screenshots_.

Different pages which you can choose are,

- Any post on Gravity
- Main page of Gravity
- About Page
- Category Page

[2016-10-04 11:22] aj07 commented on #13
please merge #15 and add it to my contribution. Thanks :)

[2016-10-04 11:26] hemangsk commented on #13
@jllamasi and @jcardoz Welcome to the Gravity community ! 😄
Either of you can create the first draft and then you can add improvements to it. You guys can decide who is going to work on the first draft and who is going to add improvement to it.
Also there are a bunch of similar enhancement issues related to README file, it will be great if you can work on it.
Hope you read the whole task!

[2016-10-04 11:27] aj07 commented on #13
@hemangsk I have submitted rquest for it. please, merge it

[2016-10-04 11:27] hemangsk commented on #13
@aj07 Welcome to Gravity community, I think you didn't read the whole task 😅

[2016-10-04 11:29] jcardoz commented on #13
@aj07 Convert into markdown language. I am working on this task. Will submit a PR now.

[2016-10-04 11:30] hemangsk commented on #13
@jcardoz Okay sounds great!

[2016-10-04 11:38] hemangsk opened #16 "Add a directory structure graphic in README.md"
You have to create a directory structure  graphic in README.md using markdown and write in one line what each folder contains.

**Update**
Directory structure created. Add one line per folder explaining the contents of the folder.

Example of a directory structure : (from https://raw.githubusercontent.com/mmistakes/made-mistakes-jekyll/master/README.md)

[code]

That's it!
Got Queries? Need help g

[2016-10-04 11:41] jcardoz commented on #13
@hemangsk can you check if I am on the right track. I have converted the first image.

[2016-10-04 11:44] hemangsk commented on #13
@jcardoz Yeah I just checked..its looking perfect!

[2016-10-04 11:45] jcardoz commented on #13
@hemangsk Coolio. Will update once completely done

[2016-10-04 11:46] imadhsissou commented on #16
I can take this ! give me few moments ;)

[2016-10-04 14:32] hemangsk commented on #13
Solved by @jcardoz in #19  🎉  🎉

[2016-10-04 14:32] #13 closed

[2016-10-04 15:46] maayanktyagi commented on #14
Can i solve this?

[2016-10-04 15:53] hemangsk commented on #14
Aur bhai kyal haal chaal 😆 😂   🎉

[2016-10-04 16:44] maayanktyagi commented on #14
Gravity is awesome!

[2016-10-04 16:44] maayanktyagi commented on #14
As awesome as Pixel!!

[2016-10-05 13:46] hemangsk commented on #16
Solved in #20 , #18  by @7BISSO and @jcardoz  🎉

[2016-10-05 13:46] #16 closed

[2016-10-20 21:52] aliarsalankazmi opened #22 "Atom/RSS Feed for posts pertaining to specific categories"
Hi Hemang,

Hope you're keeping well.

I needed to share my RSS feed for posts relating to a category with another website - the objective is to enable the other website to publish my posts at their end too.
I can find my RSS feed here:
http://aliarsalankazmi.github.io/blog_DA/feed

I am unsure, however, if the current feed.xml file with `Gravity` enables segregating posts for certain categories.

[2016-10-21 17:17] hemangsk commented on #22
Hello Ali 😃  I'm well thanks, hope you are great too!

You are absolutely right currently the theme doesn't support the category specific feed and it only has the feed.xml provided by jekyll by default. I looked on some references and found that we can create a feed-category.xml file in the root directory of our blog which will create category feed of the category specified.

So for the category "

[2016-10-22 07:13] aliarsalankazmi commented on #22
Thanks a lot, Hemang! That worked perfectly well!
I'm going to save the reference you shared, to learn more.

About the blog, well I think your design is a very important component of the blog too, so I am thankful for your great, minimal design! :smiley:
You may like to stay tuned to the blog, because there is some much more interesting application of analytics coming ahead :wink:

[2016-10-22 07:13] #22 closed

[2016-10-24 07:43] rodickmini opened #23 "Pagination support"
Hey, buddy
I LOVE this theme! It's so simple, clear and cool.
But, is pagination supported by Gravity?
BTW, here is my page 😄 , http://blog.rodickcai.com/

[2016-10-25 11:09] hemangsk commented on #23
Hello buddy :smile: It's really awesome to know you liked the theme. And what a great touch you have given to the theme on your blog..  really amazing site :tada:

Regarding the pagination support, the pagination feature is in this project's bucket list but tbh I don't know how to implement it yet, actually I am still learning Jekyll platform and markdown :smile:  and hopefully I will add that fea

[2016-10-25 11:11] hemangsk commented on #23
Also if you'd like to implement the pagination feature in Gravity please go ahead 👍 PRs are most welcome :wink:

[2016-10-26 09:48] davidcaiyou commented on #23
@hemangsk sure, I will have a try 🎉

[2016-11-13 23:09] rollonbears234 opened #25 "yourdomain.com"
First off, I love this theme. The issue I am having relates to clicking on the about page or articles page and then when I click the home button, it takes me to your domain.com every time. I even set it to my github url and am getting no luck. I've tried for hours and have gotten nothing butt error page not found pages and your domain.

Can you help me figure out why the template doesn't return to

[2016-11-14 07:49] hemangsk commented on #25
Hey! really glad that you liked the theme 👍
There was a error in Gravity's header.html in master branch, this is the branch which is used when the repo is a user website repo.

I have solved the navigation issue in this PR, you just need to merge this with your master branch

https://github.com/rollonbears234/rollonbears234.github.io/pull/1

If there's any other issue, feel free to get in touch 😄

[2016-11-14 20:24] #25 closed

[2016-12-04 19:05] harshcrop commented on #23
hey, buddy can we apply using Default pagination generator for Jekyll.???

[2016-12-04 20:02] hemangsk commented on #23
@harshcrop  Hello buddy!
I haven't tried with default pagination generator, but I think you can apply and it should work smooth. 😄

[2016-12-04 20:03] harshcrop commented on #23
this will help you in issue ??

[2016-12-05 09:44] HerrBertling commented on #23
Hey guys!

Found this repo via https://24pullrequests.com, have some time on my hands and could probably help.

Do you want pagination for the index page listing all posts?
Or do you want to have a link to the next and previous post?

And do you have ideas about how it should look?

Happy to help :)

[2016-12-05 14:07] hemangsk commented on #23
@HerrBertling hey! That'd be really awesome.
Pagination for the index page listing all posts and also when a post is clicked, a link to the next and previous post at the bottom of page.

please let me know if you'd like to work on it 🎉 😄

[2016-12-05 14:10] hemangsk commented on #23
@harshcrop I have not tried it yet but I think if you don't want a custom pagination, then adding default paginate generator will do just fine and it will get pagination up and running

[2016-12-05 15:10] HerrBertling commented on #23
There you go :tada:

[2016-12-05 15:14] #23 closed

[2016-12-06 19:33] Projjol-zz commented on #12
Hey, #27 addresses Step 2. I was wondering if Step 1 is needed at all? It would be useful for newcomers to know how Gravity works, maybe not so much about the Jekyll ecosystem 😃

[2016-12-07 13:55] Projjol-zz commented on #12
Hey @hemangsk , #28 would be a better solution taking into consideration that the changes should've been in the README file. I've closed the previous PR that pointed to a new file.

[2016-12-07 18:30] hemangsk commented on #12
Fixed in #28

[2016-12-07 18:30] #12 closed

[2017-01-04 02:51] sarayd opened #31 "How to add icon"
Hi,
How would you add icons beside the Github and Twitter you have in the footer? I've downloaded a Facebook icon and converted it to svg and imitated the format for both the svg and html of the github icon, yet it is still not working. Can I ask where you downloaded your svg for Github from?
Thanks!

[2017-01-04 07:09] hemangsk commented on #31
I am using the svgs provided in the default jekyll theme itself, Can you give a link to the repo so I can see what's wrong?

[2017-01-15 21:28] hemangsk commented on #31
ping @sarayd, is there anyway I can help?

[2017-01-16 00:35] sarayd commented on #31
@hemangsk hey! very sorry for not following up on this, but I appreciate your very quick reply. Im going to look more into it today and let you know asap!

[2017-01-16 01:49] sarayd commented on #31
Here's the [link](https://github.com/sarayd/sarayd.github.io) to my repo. I mainly just want to get an email and Facebook icon in the footer but I'm unsure of how to do that :(

[2017-01-17 12:55] sims1253 opened #32 "Center pages under title"
Would be cool to have the pages centered under the title. Atm it looks like they are left aligned.

[2017-01-17 18:17] #32 closed

[2017-01-17 18:26] flow23 commented on #31
Hi, just get the svg files, upload them and  add the html code.

[2017-01-17 18:49] hemangsk commented on #31
@sarayd Thats ok I was just wondering if your svg issue resolved or not, (because me too struggle with svgs a lot 😅 )..

I googled for facebook svg and there was a svg available on wikipedia which I used here,
https://github.com/hemangsk/sarayd.github.io/blob/master/_includes/icon-facebook.html

So the img tag has,
```height=16```
thats because our old twitter icon has the same height, so to match

[2017-01-18 14:00] ankitdhall opened #33 "Unable to install jekyll on Ubuntu16.04"
Hello,
I am trying to setup my github page with your theme and am unable to install jekyll on Ubuntu 16.04.
My default compiler is gcc-4.8 if that could be a possible issue.

The error I get looks like the following:
[code]

The mkmf.log file contains the following:

[code]

Do you have any idea of how I could setup jekyll on the machine?
Thanks,
Ankit

[2017-01-18 14:09] hemangsk commented on #33
Does this help http://stackoverflow.com/a/13767801 ?
After executing the commands in this answer, you can try doing ```sudo gem install jekyll```

[2017-01-18 14:13] ankitdhall commented on #33
No, I already have the right version installed for gem.
And I did sudo as well, same result.

[2017-01-18 14:37] hemangsk commented on #33
Can you try updating gcc?

[2017-01-18 17:59] ankitdhall commented on #33
Yeah, I reverted to gcc-5 and it seems to install.

[2017-01-18 17:59] #33 closed

[2017-02-19 15:42] dengshenyu opened #34 "Does it support timeline in the archive layout?"
Hi,

I'm using this for my blog, and I feel grateful for your share.

I just want some kind of timeline in the archive layout, does it support? Such as, categorizing the posts by year.

Thanks.

[2017-02-19 15:54] hemangsk commented on #34
Hey thanks for getting in touch, it doesn't have a feature to categorize the posts by year in archive layout, but I think http://stackoverflow.com/a/19104574/5056792 will work as is in Gravity.
You'll have to paste that code in the .md file with layout: archive
Please let me know if you face any kind of issue.

[2017-02-19 16:34] dengshenyu commented on #34
Thanks for help!

It works, but I think the layout should be "page",  instead of "archive".  Below is my archive.md.  Note that I add a div around the code snippet, because it shows as pre in the result page without the div. Hope it helps who also want to categorize posts by year.

[archive.md.txt](https://github.com/hemangsk/Gravity/files/785987/archive.md.txt)

[2017-02-19 16:34] #34 closed

[2017-02-26 07:17] Redgadget opened #35 "Your theme is listed on jekyll-themes.com"
Your theme has been listed on [https://jekyll-themes.com/](https://jekyll-themes.com/).

[2017-02-26 07:18] #35 closed

[2017-02-28 16:46] PrincessGod opened #36 "post.excerpt not work in chinese"
hi, i use jekyll lately, and not familiar with html and css, when i finished my post, i founded that home page show all content not excerpt, there is my blog page [P.G](https://princessgod.github.io/),  i really like Gravity and do not want to change theme, so can you help me fix it? thanks, i will be really appreciate.

[2017-02-28 16:52] PrincessGod commented on #36
i have tried some works like add "excerpt_separator" in "_config.yml", but no matter what separator i tried it seems always not useful. T_T

[2017-02-28 17:05] hemangsk commented on #36
Hey @PrincessGod, Hemang this side,  glad that you liked Gravity ☺️
That excerpt thing surely is a bug, thank you very much for reporting it.

You know actually I've a univ exam tomorrow, so will it be okay if I look into this matter later tonight or tomorrow?  I'll get it fixed for sure latest by tomorrow!

Thank you ! 😃

[2017-03-01 01:31] PrincessGod commented on #36
@hemangsk  really happy to found your reply when i get up.
By the way,  if i can ask you another stupid question? Why my post in github page are "404 not found",there is my [repo](https://github.com/PrincessGod/PrincessGod.github.io), i just copy Gravity and use GitHub for Windows publish and sync, it work fine when i run in local with jekyll serve. i am totaly a novice at this things, and sorry t

[2017-03-01 01:37] PrincessGod commented on #36
Of course , later is fine.
The more important thing is exam.
Good luck and have a good exam results!

[2017-03-01 04:09] PrincessGod commented on #36
Just now I have some new info maybe helpful,  excerpt works on new page like my custom page "[Life](https://princessgod.github.io/life/)" below. Gravity is truly beautiful,  isn't it?

[2017-03-01 19:20] hemangsk commented on #36
Hey thanks a ton for your good wishes !
So the issue is solved, I've also made PR to your [repo](https://github.com/PrincessGod/PrincessGod.github.io/pull/1).

You can tinker with ```truncate: 200```, changing 200 to any desired value whichever fits right 😃  👍  👍

[2017-03-02 01:58] PrincessGod commented on #36
OK， thank you very much.

[2017-03-02 01:58] #36 closed

[2017-03-07 05:39] hemangsk commented on #31
Hey! Please reopen this if issue still persists. :smil

[2017-06-18 16:34] euler16 opened #40 "How to change font size"
I find the font style and size a bit too different in the preview page of posts and the posts themselves. I want to customize it ...  how should I go about doing it?

[2017-06-18 16:40] euler16 commented on #40
Also how can we modify the code rendering  style ... I want to modify it to the way Layon renders code snippets.

by the way great work !!! I really loved Gravity

[2017-06-18 17:58] hemangsk commented on #40
Hey @euler16 , font size on preview page of posts is on https://github.com/hemangsk/Gravity/blob/master/css/style.scss#L294

and for posts themselves is at https://github.com/hemangsk/Gravity/blob/master/css/style.scss#L586

So you can change the values in em, rem, px to the best settings as  per your choice.

For snippet highlighting you just need to include this syntax.css (can be found at  http

[2017-06-28 15:34] 851tk6 opened #43 "Filter homepage posts"
How can I tell the homepage to show only posts from /design/ and /download/ but NOT posts from /science/ ?

[2017-06-28 15:52] hemangsk commented on #43
This is code responsible for generating list of pages on homepage
https://github.com/hemangsk/Gravity/blob/master/index.html#L8-L22

On line 8
[code]
After this you can do

{% if post.categories contains "Design" and post.categories contains "Download" %}

and wrap the lines 9 to 22 inside this if statement with

{% endif %}

[2017-06-28 16:19] euler16 commented on #40
thanks it worked!!!

[2017-06-28 16:19] #40 closed

[2017-06-28 16:22] euler16 commented on #43
@hemangsk  could u tell me how to change the headings of these filters?

[2017-06-28 16:46] 851tk6 commented on #43
Wow, super fast response. Thanks so much. This worked:

`{% if post.categories contains "Design" or post.categories contains "Download" %}`

[2017-06-28 19:02] hemangsk commented on #43
great!

[2017-06-28 19:02] #43 closed

[2017-07-04 08:51] liqu0d opened #44 "Hosting fonts locally?"
Hey, I'm a complete html and css noobie. What's the easiest way to host the website fonts from the root of my jekyll site? Which lines in which files should I modify?

And thanks for Gravity, it's the best jekyll theme I've see yet.

[2017-07-04 09:22] hemangsk commented on #44
For hosting locally, using font-face will do the job, https://www.w3schools.com/cssref/css3_pr_font-face_rule.asp

So we can make a folder, say foo and then save/upload all the font files there.

and then in https://github.com/hemangsk/Gravity/blob/master/css/style.scss

Just do
[code]

And then you can use it to modify the fonts of the website, by changing the font-family properties. Ideally I sh

[2017-07-04 10:09] liqu0d commented on #44
Gotcha, so I can place this anywhere in the style.scss?

	@font-face {
	    font-family: "PT Sans";
	    src: url(/fonts/pt-sans.ttf);
	}

What about lines 8 and 9 in the head.html?

	 <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Source+Sans+Pro:400,700,200,300|Josefin+Sans:400,600,700,300' rel='stylesheet' type='text/css'>

Should I modify this in some w

[2017-07-04 10:10] liqu0d commented on #44
Gotcha, so I can place this anywhere in the style.scss?

	@font-face {
	    font-family: "PT Sans";
	    src: url(/fonts/pt-sans.ttf);
	}

What about lines 8 and 9 in the head.html?

	 <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Source+Sans+Pro:400,700,200,300|Josefin+Sans:400,600,700,300' rel='stylesheet' type='text/css'>

Should I modify this in some w

[2017-07-04 10:19] hemangsk commented on #44
You can place it anywhere you like but preferred place to define is on top, as it has to be defined before usage.
Yeah righto, you can remove that from head.html entirely.

[2017-07-04 10:57] liqu0d commented on #44
Great. I placed it on line 24 on the style.scss. Then downloaded this font:

Then restarted jekyll. But it didn't seem to work. When I inspect elements in the browser, I can see the fonts.ttf was loaded without error (Status 200). Any debugging advice for me? I didn't make any major chances to the head.html.

[2017-07-04 18:02] liqu0d commented on #44
Just realized I said "error". It's not an error, I meant the .ttf gets loaded in the browser properly but the fonts don't take effect on the site for some reason. I also realize this isn't directly a Gravity theme issue. Would appreciate your help if you get some time. If not, probably safe to close this issue.

[2017-07-04 18:23] hemangsk commented on #44
Hey, I thought abt the reason and couldn't find a possible reason why this might be happening, if the status is 200.

So I assume there are the steps,

- [ ]  First you created a font-face definiton in style.scss
[code]

- [ ]  Then removed the head.html 's link tag which was downloading fonts from external domain

Now this step,
- [ ]  Then back in the CSS file,  changed the font-family property

[2017-07-04 18:30] liqu0d commented on #44
Using single quotes totally worked! Thank you!

[2017-07-04 18:30] #44 closed

[2017-07-07 18:06] sammysghost opened #45 "blank entries on home page"
i just tried this solution:

https://github.com/hemangsk/Gravity/issues/43

`{% if post.categories contains "Design" or post.categories contains "Download" %}`

which sort of works. i noticed when i add new posts to other categories (eg "Artwork"), it shows up on my home page but as a blank entry. what have i done wrong?

	---
	layout: default
	---

	<div class="home">

	  {% for post in paginator

[2017-07-07 19:24] hemangsk commented on #45
It'd be really great if you can provide a link to webpage if its possible, that'll help figure out quickly 😊

[2017-07-07 20:10] sammysghost commented on #45
:/ unfortunately my site isn't online just yet. i plan to purchase the domain later next week. i hoped to have the _site html up and running by then :(. any (general) suggestions?

[2017-07-07 20:34] hemangsk commented on #45
np,  I'll definitely try to reproduce the error locally tomorrow and find what's wrong

[2017-07-07 20:57] sammysghost commented on #45
thank you very much.

[2017-07-08 13:31] sammysghost commented on #45
i thought it would be helpful to you to use some of the .md and .html from my site. when i add to `design` or `downloads` the homepage shows both categories perfectly. but when i add to `artwork`, the homepage kinda disappears...

$ _config.yml

	# Welcome to Jekyll!
	#
	# This config file is meant for settings that affect your whole blog, values
	# which you are expected to set up once and rarely

[2017-07-08 15:46] hemangsk commented on #45
@sammysghost I've tried to replicate the issue on this branch https://github.com/hemangsk/Gravity/tree/hemangsk/sg, I've added posts with cateogry artwork and design but they seem to work fine on homepage, can you please see if I'm missing something?

[2017-07-08 18:08] sammysghost commented on #45
:( no, it's okay. i appreciate your help thus far. thank you.

[2017-07-08 18:08] #45 closed

[2017-07-09 00:20] sammysghost opened #46 "how to make design.md homepage"
what's the easiest way to make design.md or about.md my index.html?

[2017-07-15 16:13] Mauladen opened #48 "You can look at my changes"
As I see you no longer develop this project, so I took it and added a couple of useful things
If you have something to offer you can take a look at them and send me a Pull requests
But the repository itself -> [Gravity by mauladen](https://github.com/Mauladen/Gravity)

[2017-07-15 16:35] hemangsk commented on #48
Please don't claim someone's else work. If you want to work on a fork, make a proper fork and then develop, no one's stopping you. But this is clearly **stealing** (Adding 'forked from xyz' in repo description is not a way to fork) and I'm reporting to GitHub about this incident.

And this repository is being properly maintained and developed. See the date of the latest closed issue, so 'no lonnge

[2017-07-15 16:49] hemangsk commented on #48
And you even changed the name on License, wow https://github.com/Mauladen/Gravity/commit/441fe0181333ffa5d55297c90ae1033e843357d5/#diff-61e0bdf7e1b43c5c93d9488b22e04170R3

[2017-07-15 16:50] Mauladen commented on #48
Yes, I forgot about the moment
I'll fix it now.
I did not want to assign this code to myself

[2017-07-15 16:52] hemangsk commented on #48
Please have a look into the GitHub documentation of how a fork is created https://help.github.com/articles/fork-a-repo/

[2017-07-15 17:06] Mauladen commented on #48
I fixed the license and now everything is fine, I apologize for what happened, as I mentioned, I did not want to assign the code to myself

Regarding the design of the repository, the documentation is advisory in nature and I do not need to do fork of your project

[2017-07-15 17:10] Mauladen commented on #48
I just wanted to share the changes, maybe you like something and you put them into your project

[2017-07-17 15:09] #48 closed

[2017-09-23 19:59] scraggo opened #49 "How do you change the order of the pages on the main navigation?"
Hi! It seems as if the pages in the main navigation are in alphabetical order. Example:

*Home | About | Contact | Portfolio*

Is there any way to change the order to something specified? Thanks!

[2017-09-28 09:12] hemangsk opened #50 "Add coafile"
@coafile

[2017-09-28 09:12] coafile commented on #50
Greetings! I'm the coafile bot and I'm here to get your coafile ready. Sit Tight!

[2017-09-28 09:12] coafile commented on #50
[code]

[2017-09-28 09:12] coafile commented on #50
Oops! Looks like there was some problem making the coafile PR! Retrying...

[2017-09-28 09:12] coafile commented on #50
Oops! Looks like there was some problem making the coafile PR! Retrying...

[2017-09-28 09:12] coafile commented on #50
Oops! Looks like there was some problem making the coafile PR! Retrying...

[2017-09-28 09:12] coafile commented on #50
Sorry! coafile-bot is unable to make the PR.

[2017-09-28 09:12] coafile commented on #50
Oops! Looks like I've already made a coafile PR!

[2017-09-29 16:21] hemangsk commented on #50
@gitmate-test-user-2

[2017-09-29 16:21] gitmate-test-user-2 commented on #50
Greetings! I'm the koafile bot and I'm here to get your coafile ready. Sit Tight!

[2017-09-29 16:22] gitmate-test-user-2 commented on #50
[code]

[2017-09-29 16:23] gitmate-test-user-2 commented on #50
Oops! Looks like there was some problem making the coafile PR! Retrying...

[2017-09-29 16:23] gitmate-test-user-2 commented on #50
Oops! Looks like there was some problem making the coafile PR! Retrying...

[2017-09-29 16:24] gitmate-test-user-2 commented on #50
Oops! Looks like there was some problem making the coafile PR! Retrying...

[2017-09-29 16:24] gitmate-test-user-2 commented on #50
Sorry! coafile-bot is unable to make the PR.

[2017-09-29 16:24] gitmate-test-user-2 commented on #50
Oops! Looks like I've already made a coafile PR!

[2017-10-18 21:51] hemangsk opened #51 "Create a dark theme for Gravity"
- Should be configurable via config.yml, where users can do

[code]
to use the dark theme specific CSS.

- I'm imagining a black background and white text over it with some font adjustments, but completely open to your ideas.

:)

[2017-10-18 22:10] qgolsteyn commented on #51
I would be happy to take on this project if it's not taken yet :smile:

[2017-10-18 22:57] hemangsk commented on #51
@qgolsteyn Sounds great! :)  👍

[2017-10-20 03:35] nickjkarl commented on #49
You can change the order by renaming the base files without changing the rest of their contents.
What I do is prepend a number to each page. In your case if you wanted Portfolio to be second in the list rename the pages:
- 1Portfolio.md
- 2About.md
- 3Contact.md

Changing the order of Home requires editing header.html, more work is required.

[2017-10-22 23:09] scraggo commented on #49
I'm relieved that it was something simple. Thank you!

[2017-10-25 15:31] hemangsk commented on #51
Completed via https://github.com/hemangsk/Gravity/pull/52 🎉  🎉

[2017-10-25 15:31] #51 closed

[2017-11-21 10:48] aliarsalankazmi opened #54 "Website not picking up my latest post"
Hi Hemang,

I hope you are keeping well - and that you remember me! ;)
I am facing a problem: When I add a new blog post, for some reason the commit and update is all fine, but the new post does not appear on the main page.

Solutions I have tried:
1. Adding `future: true` to config.yaml
2. Check [feed.xml](http://aliarsalankazmi.github.io/blog_DA/feed.xml) to ensure a build was successful (which

[2017-11-21 11:44] aliarsalankazmi commented on #54
Don't worry, my mistake!

I had some non-UTF 8 characters, as I was quoting some Internet text! *embarrassed*

[2017-11-21 11:44] #54 closed

[2017-12-11 04:25] eddyizm opened #55 "Github page does not exist."
I forked this to see what it looked like. I changed the link to my user name and am using the gh-pages and it returns a 404.

I changed it to the master branch after deleting the rest, and the page is missing all the css. What part am I missing? All the other jekyll themes seem to just work off a fork.

[2017-12-11 15:44] hemangsk commented on #54
Hey Ali,

First off sorry for the delay in response. actually exams were going on.. the trickier ones just ended today 😃   It's always really great to hear from you! I hope you are keeping well too 😊
Glad the issue got resolved :)
If any issue/troubleshooting with the theme in future just let me know, will get it fixed right away.
my email is  hemangsk@gmail.com.

[2017-12-11 15:48] hemangsk commented on #55
Hey :)

This happened after you fork it and change the url here
```https://github.com/eddyizm/Gravity/blob/gh-pages/_config.yml ```
to ```eddyizm.github.io```
and ```baseUrl``` is set to /Gravity ?

[2017-12-12 03:06] eddyizm commented on #55
I think you are right. I'm new to Jekyll pages and just figured this out on another template I was playing with. Thanks!

[2017-12-12 03:06] #55 closed

[2018-06-25 03:38] pilgrimagehome opened #58 "Post Title turning red?"
Hello! Sorry I'm relatively new to git and jekyll.
I've been tinkering with using this theme but the titles of my posts are turning red after I click on them and they stay red. Any fixes or idea of what I could be doing wrong? I didn't touch any of the code and the front matter seems to match the examples.

[2018-06-25 04:59] hemangsk commented on #58
Seems like something’s up with the CSS.

I’ll take a look tonight and fix it :-)

On Mon, 25 Jun 2018 at 9:08 AM, pilgrimagehome <notifications@github.com>
wrote:

--

With best regards,
Hemang Kumar
CSE JR at USICT, ND
GitHub <http://github.com/hemangsk> | LinkedIn
<https://www.linkedin.com/in/hemangkumar> | HackerRank
<https://www.hackerrank.com/Hemang> | Twitter
<https://twitter.com/Hemang_Kuma

[2018-06-25 16:38] hemangsk commented on #58
@pilgrimagehome I'm unable to reproduce the red colored title issue locally, can you provide a link of repository / deployed site where this issue is happening. That'll be faster to debug this.

Thanks

[2018-06-25 16:58] pilgrimagehome commented on #58
https://github.com/pilgrimagehome/pilgrimagehome

is this what you need?

[2018-06-26 05:40] hemangsk commented on #58
I see this file https://github.com/pilgrimagehome/pilgrimagehome/blob/gh-pages/_sass/_color.scss
in your commit but this does not belong to Gravity. Maybe, it might have come from any other theme while you were moving files maybe.

This is the file responsible for false colors, specifically the line https://github.com/pilgrimagehome/pilgrimagehome/blob/gh-pages/_sass/_color.scss#L68 which is text

[2018-06-26 05:40] hemangsk commented on #58
Let me know if the issue still persists

[2018-06-26 15:44] pilgrimagehome commented on #58
Yes it did! I don't know how that got there. Thank you so much! But now the site on github pages is no longer building with any of the formatting from the theme itself.

[2018-06-26 19:16] hemangsk commented on #58
You need to add the baseurl property here https://github.com/pilgrimagehome/pilgrimagehome/blob/gh-pages/_config.yml#L12 .
This is because the site is running on https://pilgrimagehome.github.io/pilgrimagehome/ and not in the root (which is https://pilgrimagehome.github.io/)

So you'll have to update the baseUrl property with 'pilgrimagehome'

[2018-06-26 19:17] hemangsk commented on #50
Done!

[2018-06-26 19:17] #50 closed

[2018-06-26 19:18] hemangsk commented on #49
:+1: 😃

[2018-06-26 19:18] #49 closed

[2018-06-29 10:49] hemangsk commented on #58
ping @pilgrimagehome

[2018-06-29 14:45] pilgrimagehome commented on #58
Thank you!

[2018-07-07 13:13] #58 closed

[2018-07-15 20:53] desmond75 commented on #1
I am creating a portfolio using git-hub static page and i want to display some images of projects completed and finding it difficult to do that.I know the syntax for image display but what i do not seem to get here is where to place image on git-hub and and use the path to display it. syntax for image display

[2018-07-18 07:14] hemangsk commented on #1
@desmond75 You can store images on github in your repositories anywhere/inside any folder. For example : If I have the image inside 'images' folder in any of my github repo, then I would do :-

[code]

^ This would display your image when you put this in a markdown file in that repo and view the markdown file on the deployment URL.

Let me know if this fixes your issue and feel free to create a ne

[2018-12-31 03:12] zhang-wenjun opened #60 "How to build up this theme with Github Page?"
I directly fork this repository to my github and build my site. However, the page doesn't look right, with only the raw elements. It seems that the **scss** doesn't work. How could I get those things right?

My site url is [https://zhang-wenjun.github.io/HomePage_Gravity/](https://zhang-wenjun.github.io/HomePage_Gravity/)

Thank you!

![image](https://user-images.githubusercontent.com/32013526/505

[2019-01-01 17:48] hemangsk commented on #60
https://github.com/zhang-wenjun/HomePage_Gravity/blob/master/_config.yml#L13 needs the value baseUrl as HomePage_Gravity and site url should be set zhang-wenjun.github.io

[2019-01-02 02:50] zhang-wenjun commented on #60
Thank you so much! It could work now~

[2019-01-02 21:43] hemangsk commented on #60
Great :)

[2019-01-02 21:44] hemangsk commented on #60
Closing, pls let me know if you face any other issues with this theme.

[2019-01-02 21:44] #60 closed

[2019-04-14 20:51] hemangsk opened #61 "Refactor Plan"
- [ ] Cleanup code smell
- [ ] Document dark mode
- [ ] Redefine architecture

[2019-04-14 20:53] hemangsk commented on #61
I've been delaying it for way too much long, unreasonably. We will fix it to make it a 100x more easier for users to fork and to get started with their Gravity-based blog.